name: Manage deployment

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        required: false
        options:
          - apply-plan
          - apply
          - destroy-plan
          - destroy
        default: apply-plan
      environment:
        type: environment
        required: false
        default: test

jobs:
  manage-deployment:
    name: Manage deployment
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: ${{ inputs.action }}
      environment: ${{ inputs.environment }}