name: Push on Feature Branch

on: 
    push:
        branches:
            - '**'
            - '!main'

jobs:
    feature-push:
        name: Build snapshot version
        runs-on: ubuntu-24.04
        steps:
            - name: Get the artifact version
              id: version
              uses: keeonline/reference-github-actions/actions/artifact-version@v0.0.26

            - name: Build the application
              uses: keeonline/reference-github-actions/actions/java-build@v0.0.26
              with:
                artifact_version: ${{steps.version.outputs.value}}

            - name: Package the application as an image
              uses: keeonline/reference-github-actions/actions/docker-build@v0.0.26
              with:
                image: chameleon
                artifact_version: ${{steps.version.outputs.value}}
            
            - name: Setup docker compose
              uses: keeonline/reference-github-actions/actions/setup-docker-compose@v0.0.26
              with:
                version: 2.39.1

            - name: Start the chameleon service
              working-directory: servicetest/karate
              run: |
                echo "VERSION=${{steps.version.outputs.value}}" >> .env
                cat .env
                docker-compose up -d
                sleep 5

            - name: Execute the service tests
              uses: keeonline/reference-github-actions/actions/karate-tests@v0.0.26
              with:
                tests_directory: servicetest/karate
                reports_upload_title: Service Test Reports

            - name: Stop the chameleon service
              if: always()
              working-directory: servicetest/karate
              run: |
                docker-compose down

            - name: Publish the image
              uses: keeonline/reference-github-actions/actions/dockerhub-publish@v0.0.26
              with:
                username: ${{vars.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}
                source_image: chameleon:${{steps.version.outputs.value}}
                target_image: ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.version.outputs.value}}