name: Pull request

on:
  pull_request:
  
jobs:
  sits:
    name: Run SITs
    uses: ./.github/workflows/on-event-sit.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_ref: ${{ github.head_ref }}