name: Push to main branch

on:
  push:
    branches:
      - main
        
jobs:
  push-to-main:
      runs-on: ubuntu-24.04
      permissions:
        contents: write
      steps:
        # - name: salutation
        #   run: |
        #     echo This is on_push for chameleon service. branch=${{ github.ref_name }}

        # - name: Checkout sources
        #   uses: actions/checkout@v4
        #   with:
        #     fetch-depth: 0  

        - name: Setup Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: 21

        - name: Setup Gradle            
          uses: gradle/actions/setup-gradle@v4

        - name: Get the application artifact version
          id: versions
          uses: keeonline/reference-github-actions/actions/artifact-version@tags

        - name: Build application with Gradle
          run: ./gradlew -Pversion=${{steps.versions.outputs.release}} build --no-daemon

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Upload build reports
          uses: actions/upload-artifact@v4
          with:
            name: Build Reports
            path: build/reports

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Tag repo
          uses: richardsimko/update-tag@v1.1.6
          with:
            tag_name: ${{steps.versions.outputs.release}}
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

        - name: Build image
          run: | 
            docker build --build-arg VERSION=${{steps.versions.outputs.release}} \
                         -t chameleon:${{steps.versions.outputs.release}} \
                         .  

        - name: List image 
          run: | 
            docker image ls chameleon:${{steps.versions.outputs.release}}

        - name: Inspect image
          run: | 
            docker inspect --type=image chameleon:${{steps.versions.outputs.release}}

        - name: Login to Docker registry
          uses: docker/login-action@v3
          with:
            username: ${{vars.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}
            
        - name: Tag image
          run: |
            docker tag chameleon:${{steps.versions.outputs.release}} \
                       ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.versions.outputs.release}}

        - name: List chameleon images
          run: |
            docker images | grep chameleon

        - name: Publish image
          run: |
            docker push ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.versions.outputs.release}}
