name: Push to main branch

on:
  push:
    branches:
      - main
        
jobs:
  push-to-main:
      runs-on: ubuntu-24.04
      permissions:
        contents: write
      outputs:
        app_ref: ${{steps.version.outputs.value}}
      steps:
        - name: Setup Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: 21

        - name: Setup Gradle            
          uses: gradle/actions/setup-gradle@v4

        - name: Get the application artifact version
          id: version
          uses: keeonline/reference-github-actions/actions/artifact-version@v0.0.26

        - name: Build application with Gradle
          run: ./gradlew -Pversion=${{steps.version.outputs.value}} build --no-daemon

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Upload build reports
          uses: actions/upload-artifact@v4
          with:
            name: Build Reports
            path: build/reports

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Tag repo
          uses: richardsimko/update-tag@v1.1.6
          with:
            tag_name: ${{steps.version.outputs.value}}
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

        - name: Build image
          run: | 
            docker build --build-arg VERSION=${{steps.version.outputs.value}} \
                         -t chameleon:${{steps.version.outputs.value}} \
                         .  

        - name: List image 
          run: | 
            docker image ls chameleon:${{steps.version.outputs.value}}

        - name: Inspect image
          run: | 
            docker inspect --type=image chameleon:${{steps.version.outputs.value}}

        - name: Login to Docker registry
          uses: docker/login-action@v3
          with:
            username: ${{vars.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}
            
        - name: Tag image
          run: |
            docker tag chameleon:${{steps.version.outputs.value}} \
                       ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.version.outputs.value}}

        - name: List chameleon images
          run: |
            docker images | grep chameleon

        - name: Publish image
          run: |
            docker push ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.version.outputs.value}}

  sit-config:
    name: Get config
    runs-on: ubuntu-24.04
    outputs:
      app_environment: ${{ steps.values.outputs.this_environment }}
      repo_name: ${{ steps.values.outputs.repo_name }}
      repo_ref: ${{ steps.values.outputs.repo_ref }}
      infra_environment: ${{ steps.values.outputs.this_environment }}
      vpc_cidr: ${{ steps.values.outputs.vpc_cidr }}
    steps:
      - name: Determine values
        id: values
        run: |
          echo "repo_name=keeonline/reference-infra-aws" >> $GITHUB_OUTPUT    
          echo "repo_ref=v0.0.61" >> $GITHUB_OUTPUT
          THIS=$(shuf -i 201-255 -n 1)
          echo "this_environment=eph$THIS" >> $GITHUB_OUTPUT
          echo "vpc_cidr=10.$THIS.0.0/16" >> $GITHUB_OUTPUT

  provision-infra:
    name: Provision
    needs: [ push-to-main, sit-config ]
    uses: keeonline/reference-infra-aws/.github/workflows/reusable-manage-infra.yml@v0.0.61
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      repo_name: ${{ needs.sit-config.outputs.repo_name }}
      repo_ref: ${{ needs.sit-config.outputs.repo_ref }}
      environment: ${{ needs.sit-config.outputs.infra_environment }}
      vpc_cidr: ${{ needs.sit-config.outputs.vpc_cidr }}

  deploy-app:
    name: Deploy
    needs: [ sit-config, provision-infra ]
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      repo_ref: ${{ needs.push-to-main.outputs.app_ref }}
      app_environment: ${{ needs.sit-config.outputs.app_environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment }}

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ sit-config, deploy-app ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_environment: ${{ needs.sit-config.outputs.app_environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment }}

  undeploy-app:
    name: Undeploy
    needs: [ sit-config, execute-sit ]
    if: always()
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      repo_ref: ${{ needs.push-to-main.outputs.app_ref }}
      app_environment: ${{ needs.sit-config.outputs.app_environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment}}

  destroy-infra:
    name: Destroy
    needs: [ sit-config, undeploy-app ]
    if: always()
    uses: keeonline/reference-infra-aws/.github/workflows/reusable-manage-infra.yml@v0.0.61
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      repo_name: ${{ needs.sit-config.outputs.repo_name }}
      repo_ref: ${{ needs.sit-config.outputs.repo_ref }}
      environment: ${{ needs.sit-config.outputs.infra_environment }}
      vpc_cidr: ${{ needs.sit-config.outputs.vpc_cidr }}