name: Push to main branch

on:
  push:
    branches:
      - main
        
jobs:
  push-to-main:
      runs-on: ubuntu-24.04
      permissions:
        contents: write
      outputs:
        app_ref: ${{steps.version.outputs.value}}
      steps:
        - name: Setup Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: 21

        - name: Setup Gradle            
          uses: gradle/actions/setup-gradle@v4

        - name: Get the application artifact version
          id: version
          uses: keeonline/reference-github-actions/actions/artifact-version@v0.0.26

        - name: Build application with Gradle
          run: ./gradlew -Pversion=${{steps.version.outputs.value}} build --no-daemon

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Upload build reports
          uses: actions/upload-artifact@v4
          with:
            name: Build Reports
            path: build/reports

        - name: Show build outputs
          run: |
            ls -lsa build/libs

        - name: Tag repo
          uses: richardsimko/update-tag@v1.1.6
          with:
            tag_name: ${{steps.version.outputs.value}}
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

        - name: Build image
          run: | 
            docker build --build-arg VERSION=${{steps.version.outputs.value}} \
                         -t chameleon:${{steps.version.outputs.value}} \
                         .  

        - name: List image 
          run: | 
            docker image ls chameleon:${{steps.version.outputs.value}}

        - name: Inspect image
          run: | 
            docker inspect --type=image chameleon:${{steps.version.outputs.value}}

        - name: Login to Docker registry
          uses: docker/login-action@v3
          with:
            username: ${{vars.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}
            
        - name: Tag image
          run: |
            docker tag chameleon:${{steps.version.outputs.value}} \
                       ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.version.outputs.value}}

        - name: List chameleon images
          run: |
            docker images | grep chameleon

        - name: Publish image
          run: |
            docker push ${{vars.DOCKERHUB_USERNAME}}/chameleon:${{steps.version.outputs.value}}

  sits:
    name: Run SITs
    needs: [ push-to-main ]
    uses: ./.github/workflows/on-event-sit.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_ref: ${{ needs.push-to-main.outputs.app_ref }}

  prod-config:
    name: Get production config
    needs: [ sits ]
    runs-on: ubuntu-24.04
    environment: prod
    outputs:
      infra_environment: ${{ vars.INFRA_ENVIRONMENT }}
      az_use_count: ${{ vars.AZ_USE_COUNT }}
      base_alb_listener_rule_priority: ${{ vars.BASE_ALB_LISTENER_RULE_PRIORITY }}
    steps:
      - name: Determine values
        run: echo ""

  deploy-to-prod:
    name: Deploy to prod
    needs: [ prod-config ]
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      app_environment: prod
      infra_environment: prod
      az_use_count: ${{ needs.prod-config.outputs.az_use_count }}
      base_alb_listener_rule_priority: ${{ needs.prod-config.outputs.base_alb_listener_rule_priority }}