name: Reusable SIT execution

on:
  workflow_call:
    inputs:
      app_environment:
        type: string
        required: true
      infra_environment:
        type: string
        required: true

jobs:
  sit-execution:
    name: Execute SITs
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
            - name: Show inputs
              run: |
                  echo "app_environment=${{inputs.app_environment}}"
                  echo "infra_environment=${{inputs.infra_environment}}"

            - name: Configure credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::${{secrets.AWS_ACCOUNT_ID}}:role/IaC
                aws-region: ${{secrets.AWS_REGION}}

            - name: Get the application load balancer DNS name
              id: alb_dns
              run: |
                ALB=$(aws elbv2 describe-load-balancers \
                  --names ${{inputs.infra_environment}}-alb \
                  --query 'LoadBalancers[*].[DNSName]' \
                  --output text)
                echo "value=$ALB" >> $GITHUB_OUTPUT
                
            - name: Checkout SIT karate scripts
              uses: actions/checkout@v4
              with:
                sparse-checkout: sit/karate

            - name: Execute the SITs
              uses: keeonline/gh-actions/actions/karate-tests@v0.0.5
              with:
                tests_directory: sit/karate
                reports_upload_title: System Integration Test Reports
                baseurl: http://${{steps.alb_dns.outputs.value}}/${{inputs.app_environment}}