name: Reusable manage deployment

on:
  workflow_call:
    inputs:
      action:
        type: string
        required: true
      repo_ref:
        type: string
        required: false
        default: ${{github.ref}}
      app_environment:
        type: string
        required: true
      infra_environment:
        type: string
        required: true
      az_use_count:
        type: string
        required: false
        default: '2'
      base_alb_listener_rule_priority:
        type: string
        required: false
        default: '100'

jobs:
  manage-deployment:
    name: Manage deployment (${{inputs.action}})
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - name: Output values
        run: |
          echo "action=${{inputs.action}}"
          echo "app_environment=${{inputs.app_environment}}"
          echo "infra_environment=${{inputs.infra_environment}}"
          echo "repo_ref=${{inputs.repo_ref}}"
          echo "az_use_count=${{inputs.az_use_count}}"
          echo "base_alb_listener_rule_priority=${{inputs.base_alb_listener_rule_priority}}"

      - name: Get the artefact version
        id: version
        uses: keeonline/reference-github-actions/actions/artifact-version@v0.0.26
        with:
          repo_ref: ${{ inputs.repo_ref }}

      - name: Terraform action
        uses: keeonline/reference-github-actions/actions/terraform-cmd@v0.0.26
        env:
          TF_VAR_app_environment: ${{inputs.app_environment}}
          TF_VAR_app_version: ${{steps.version.outputs.value}}
          TF_VAR_app_repo: ${{github.repository}}
          TF_VAR_infra_environment: ${{inputs.infra_environment}}
          TF_VAR_base_alb_listener_rule_priority: ${{inputs.base_alb_listener_rule_priority}}
          TF_VAR_az_use_count: ${{inputs.az_use_count}}
        with:
          aws_account_id: ${{secrets.AWS_ACCOUNT_ID}}
          aws_region: ${{secrets.AWS_REGION}}
          action: ${{inputs.action}}
          environment: ${{inputs.app_environment}}
          repo_name: ${{github.repository}}
          tfdir: deploy/aws