name: Reusable manage deployment

on:
  workflow_call:
    inputs:
      action:
        type: string
        required: true
      github_ref:
        type: string
        required: false
        default: ${{github.ref}}
      app_environment:
        type: string
        required: true
      infra_environment:
        type: string
        required: true
      az_use_count:
        type: string
        required: false
        default: '2'
      base_alb_listener_rule_priority:
        type: string
        required: false
        default: '100'

jobs:
  manage-deployment:
    name: Manage deployment (${{inputs.action}})
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - name: Output values
        run: |
          echo "action=${{inputs.action}}"
          echo "app_environment=${{inputs.app_environment}}"
          echo "infra_environment=${{inputs.infra_environment}}"
          echo "az_use_count=${{inputs.az_use_count}}"
          echo "base_alb_listener_rule_priority=${{inputs.base_alb_listener_rule_priority}}"

      - name: Get the artefact version values
        id: versions
        uses: keeonline/gh-actions/actions/artifact-version@v0.0.6
        with:
          github_ref: ${{ inputs.github_ref }}

      - name: Show stuff
        shell: bash
        run: |
          echo "ref_type=${{ github.ref_type }}"
          echo "branch=${{steps.versions.outputs.branch}}"
          echo "release=${{steps.versions.outputs.release}}"

      - name: Set the application version
        id: app_version
        shell: bash
        run: |
          if [ "${{ github.ref_type }}" == "branch" ]
          then
            echo "value=${{steps.versions.outputs.branch}}" >> $GITHUB_OUTPUT
          else
            echo "value=${{steps.versions.outputs.release}}" >> $GITHUB_OUTPUT
          fi

      - name: Terraform action
        uses: keeonline/reference-github-actions/actions/terraform-cmd@v0.0.22
        env:
          TF_VAR_app_environment: ${{inputs.app_environment}}
          TF_VAR_app_version: ${{steps.app_version.outputs.value}}
          TF_VAR_app_repo: ${{github.repository}}
          TF_VAR_infra_environment: ${{inputs.infra_environment}}
          TF_VAR_base_alb_listener_rule_priority: ${{inputs.base_alb_listener_rule_priority}}
          TF_VAR_az_use_count: ${{inputs.az_use_count}}
        with:
          aws_account_id: ${{secrets.AWS_ACCOUNT_ID}}
          aws_region: ${{secrets.AWS_REGION}}
          action: ${{inputs.action}}
          environment: ${{inputs.app_environment}}
          repo_name: ${{github.repository}}
          tfdir: deploy/aws