name: Run the System Integration Tests against an ephemeral application

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: false
        default: test  
      
jobs:
  deploy-services:
    name: Deploy the application services
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      environment: ${{ inputs.environment }}

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ deploy-services ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      environment: ${{ inputs.environment }}

  undeploy-services:
    name: Undeploy the applicattion services
    needs: [ execute-sit ]
    if: always()
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      environment: ${{ inputs.environment }}
