name: Run the SITs against a deployed application

on:
    workflow_dispatch:
        inputs:
            environment:
                type: environment
                required: true
                default: test

jobs:
  sit-config:
    name: Get config
    runs-on: ubuntu-24.04
    environment: ${{inputs.environment}}
    permissions:
      id-token: write
    outputs:
      infra_environment: ${{ vars.INFRA_ENVIRONMENT }}
    # steps:
    #   - name: Determine values
    #     id: sit_config
    #     run: |
    #       echo "infra_environment=${{ vars.INFRA_ENVIRONMENT }}" >> $GITHUB_OUTPUT

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ sit-config ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_environment: ${{ inputs.environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment }}