name: Run the System Integration Tests against an ephemeral application

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: false
        default: test  
      
jobs:
  sit-config:
    name: Get config
    runs-on: ubuntu-24.04
    environment: ${{inputs.environment}}
    permissions:
      id-token: write
    outputs:
      infra_environment: ${{ steps.sit_config.outputs.infra_environment }}
      az_use_count: ${{ steps.sit_config.outputs.az_use_count }}
      base_alb_listener_rule_priority: ${{ steps.sit_config.outputs.base_alb_listener_rule_priority }}
    steps:
      - name: Determine values
        id: sit_config
        run: |
          echo "infra_environment=${{ vars.INFRA_ENVIRONMENT }}" >> $GITHUB_OUTPUT
          echo "az_use_count=${{ vars.AZ_USE_COUNT }}" >> $GITHUB_OUTPUT
          echo "base_alb_listener_rule_priority=${{ vars.BASE_ALB_LISTENER_RULE_PRIORITY }}" >> $GITHUB_OUTPUT

  deploy-app:
    name: Deploy the application
    needs: [ sit-config ]
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      app_environment: ${{ inputs.environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment}}
      az_use_count: ${{ needs.sit-config.outputs.az_use_count }}
      base_alb_listener_rule_priority: ${{ needs.sit-config.outputs.base_alb_listener_rule_priority }}

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ sit-config, deploy-app ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_environment: ${{ inputs.environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment }}

  undeploy-app:
    name: Undeploy the application
    needs: [ sit-config, execute-sit ]
    if: always()
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      app_environment: ${{ inputs.environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment}}
      az_use_count: ${{ needs.sit-config.outputs.az_use_count }}
      base_alb_listener_rule_priority: ${{ needs.sit-config.outputs.base_alb_listener_rule_priority }}