name: Run the System Integration Tests against an ephemeral infrastructure environment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: false
        default: test  
      
jobs:
  # infra-config:
  #   name: Get the workflow infra config
  #   runs-on: ubuntu-24.04
  #   environment: ${{inputs.environment}}
  #   permissions:
  #     id-token: write
  #   outputs:
  #     repo_name: ${{ steps.load_config.outputs.repo_name }}
  #     repo_ref: ${{ steps.load_config.outputs.repo_ref }}
  #   steps:
  #     - name: Load config
  #       id: load_config
  #       run: |
  #         echo "repo_name=keeonline/reference-infra-aws" >> $GITHUB_OUTPUT    
  #         echo "repo_ref=bob" >> $GITHUB_OUTPUT  

  provision-infra:
    name: Provision
    # needs: [ infra-config ]
    uses: keeonline/reference-infra-aws/.github/workflows/reusable-manage-infra.yml@bob
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      checkout_repo: true
      repo_name: keeonline/reference-infra-aws
      repo_ref: bob

  deploy-app:
    name: Deploy
    needs: [ provision-infra ]
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      environment: ${{ inputs.environment }}

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ deploy-app ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      environment: ${{ inputs.environment }}

  undeploy-app:
    name: Undeploy
    needs: [ execute-sit ]
    if: always()
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      environment: ${{ inputs.environment }}

  destroy-infra:
    name: Destroy
    needs: [ undeploy-app ]
    if: always()
    uses: keeonline/reference-infra-aws/.github/workflows/reusable-manage-infra.yml@bob
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      checkout_repo: true
      repo_name: keeonline/reference-infra-aws
      repo_ref: bob
