name: Run the System Integration Tests against an ephemeral application

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: false
        default: test  
      
jobs:
  sit-config:
    name: Get config
    runs-on: ubuntu-24.04
    environment: ${{inputs.environment}}
    permissions:
      id-token: write
    outputs:
      infra_environment: ${{ steps.sit_config.outputs.infra_environment }}
    steps:
      - name: Determine values
        id: sit_config
        run: |
          echo "infra_environment=${{ vars.INFRA_ENVIRONMENT }}" >> $GITHUB_OUTPUT

  deploy-services:
    name: Deploy the application services
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: apply
      environment: ${{ inputs.environment }}

  execute-sit:
    name: Run the SITs against a deployed application
    needs: [ sit-config, deploy-services ]
    uses: ./.github/workflows/reusable-sit-execution.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      app_environment: ${{ inputs.environment }}
      infra_environment: ${{ needs.sit-config.outputs.infra_environment }}

  undeploy-services:
    name: Undeploy the application services
    needs: [ execute-sit ]
    if: always()
    uses: ./.github/workflows/reusable-manage-deployment.yml
    permissions:
      id-token: write
    secrets:
      inherit
    with:
      action: destroy
      environment: ${{ inputs.environment }}
