name: Run the System Integration Tests against an ephemeral environment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: false
        default: test  
      
jobs:
  execute-sit:
    name: Execute SITs against an ephemeral environment
    runs-on: ubuntu-24.04
    environment: ${{inputs.environment}}
    # permissions:
    #   contents: write
    #   id-token: write
    steps:
      
      - name: Show outputs
        run: |
          echo "environment=${{inputs.environment}}"
